/*!*****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/assets/scss/index.scss ***!
  \*****************************************************************************************************************************************************************************/
@charset "UTF-8";
/*
https://utopia.basilico.dev/type/calculator?c=320,16,1.202,2560,22,1.27,10,2,1440&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l
*/
/* stylelint-disable-line order/order */
/* stylelint-disable-line order/order */
/* stylelint-disable-line order/order */
/* stylelint-disable-line order/order */
/* stylelint-disable-line order/order */
/* stylelint-disable-line order/order */
/* Font Face */
:root {
  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - 20rem) / 2240);
  --step--2: calc(0.691875rem + 2.57 * var(--fluid-bp));
  --step--1: calc(0.831875rem + 4.01 * var(--fluid-bp));
  --step-0: calc(1rem + 6 * var(--fluid-bp));
  --step-1: calc(1.201875rem + 8.71 * var(--fluid-bp));
  --step-2: calc(1.445rem + 12.36 * var(--fluid-bp));
  --step-3: calc(1.736875rem + 17.27 * var(--fluid-bp));
  --step-4: calc(2.0875rem + 23.83 * var(--fluid-bp));
  --step-5: calc(2.509375rem + 32.53 * var(--fluid-bp));
  --step-6: calc(3.01625rem + 44.05 * var(--fluid-bp));
  --step-7: calc(3.625rem + 59.23 * var(--fluid-bp));
  --step-8: calc(4.3575rem + 79.17 * var(--fluid-bp));
  --step-9: calc(5.2375rem + 105.28 * var(--fluid-bp));
  --step-10: calc(6.295625rem + 139.41 * var(--fluid-bp));
  --space-3xs: calc(0.25rem + 1.5 * var(--fluid-bp));
  --space-2xs: calc(0.5rem + 3 * var(--fluid-bp));
  --space-xs: calc(0.75rem + 4.5 * var(--fluid-bp));
  --space-s: calc(1rem + 6 * var(--fluid-bp));
  --space-m: calc(1.5rem + 9 * var(--fluid-bp));
  --space-l: calc(2rem + 12 * var(--fluid-bp));
  --space-xl: calc(3rem + 18 * var(--fluid-bp));
  --space-2xl: calc(4rem + 24 * var(--fluid-bp));
  --space-3xl: calc(6rem + 36 * var(--fluid-bp));
  --space-4xl: calc(8rem + 48 * var(--fluid-bp));
  --space-3xs-2xs: calc(0.25rem + 7 * var(--fluid-bp));
  --space-2xs-xs: calc(0.5rem + 8.5 * var(--fluid-bp));
  --space-xs-s: calc(0.75rem + 10 * var(--fluid-bp));
  --space-s-m: calc(1rem + 17 * var(--fluid-bp));
  --space-m-l: calc(1.5rem + 20 * var(--fluid-bp));
  --space-l-xl: calc(2rem + 34 * var(--fluid-bp));
  --space-xl-2xl: calc(3rem + 40 * var(--fluid-bp));
  --space-2xl-3xl: calc(4rem + 68 * var(--fluid-bp));
  --space-3xl-4xl: calc(6rem + 80 * var(--fluid-bp));
  --space-s-xl: calc(1rem + 50 * var(--fluid-bp));
  --container-padding: var(--space-s-xl);
  --gutter-x: var(--space-s-xl);
  --gutter-y: var(--space-s-xl);
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #eaeced;
}
@media screen and (min-width: 2560px) {
  :root {
    --fluid-screen: 2560px;
  }
}
@media (min-width: 768px) {
  :root {
    --container-padding: var(--space-s-xl);
  }
}
@media (min-width: 1440px) {
  :root {
    --container-padding: calc((100vw - 1440px) / 8 + var(--space-s-xl));
  }
}
@media (min-width: 768px) {
  :root {
    --gutter-x: var(--space-s-xl);
  }
}
@media (min-width: 768px) {
  :root {
    --gutter-y: var(--space-s-xl);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-color, #000);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size, var(--step-0));
  font-weight: var(--body-font-weight, 400);
  line-height: var(--body-line-height, 1.5);
  background-color: var(--body-bg, #fff);
  -webkit-text-size-adjust: 100%;
  /* stylelint-disable-line property-no-vendor-prefix */
  -webkit-tap-highlight-color: transparent;
}

img, picture, video, canvas, svg {
  display: block;
  width: 100%;
  max-width: 100%;
}

input,
button,
select,
optgroup,
textarea {
  color: var(--body-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

button,
[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  border: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a[href^="tel:"] {
  text-decoration: none !important;
}

svg {
  overflow: visible;
}

.o-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

.o-grid {
  display: grid;
  grid-template-rows: repeat(var(--rows, 1), 1fr);
  grid-template-columns: repeat(var(--columns, 12), 1fr);
  grid-gap: var(--gutter-y) var(--gutter-x);
}
.o-grid > * {
  grid-column: auto/span var(--column-span, 1);
  grid-column-start: var(--column-start, auto);
}

.o-col-1 {
  --column-span: 1;
}

.o-col-2 {
  --column-span: 2;
}

.o-col-3 {
  --column-span: 3;
}

.o-col-4 {
  --column-span: 4;
}

.o-col-5 {
  --column-span: 5;
}

.o-col-6 {
  --column-span: 6;
}

.o-col-7 {
  --column-span: 7;
}

.o-col-8 {
  --column-span: 8;
}

.o-col-9 {
  --column-span: 9;
}

.o-col-10 {
  --column-span: 10;
}

.o-col-11 {
  --column-span: 11;
}

.o-col-12 {
  --column-span: 12;
}

.o-col-start-1 {
  --column-start: 1;
}

.o-col-start-2 {
  --column-start: 2;
}

.o-col-start-3 {
  --column-start: 3;
}

.o-col-start-4 {
  --column-start: 4;
}

.o-col-start-5 {
  --column-start: 5;
}

.o-col-start-6 {
  --column-start: 6;
}

.o-col-start-7 {
  --column-start: 7;
}

.o-col-start-8 {
  --column-start: 8;
}

.o-col-start-9 {
  --column-start: 9;
}

.o-col-start-10 {
  --column-start: 10;
}

.o-col-start-11 {
  --column-start: 11;
}

@media (min-width: 768px) {
  .o-col-sm-1 {
    --column-span: 1;
  }

  .o-col-sm-2 {
    --column-span: 2;
  }

  .o-col-sm-3 {
    --column-span: 3;
  }

  .o-col-sm-4 {
    --column-span: 4;
  }

  .o-col-sm-5 {
    --column-span: 5;
  }

  .o-col-sm-6 {
    --column-span: 6;
  }

  .o-col-sm-7 {
    --column-span: 7;
  }

  .o-col-sm-8 {
    --column-span: 8;
  }

  .o-col-sm-9 {
    --column-span: 9;
  }

  .o-col-sm-10 {
    --column-span: 10;
  }

  .o-col-sm-11 {
    --column-span: 11;
  }

  .o-col-sm-12 {
    --column-span: 12;
  }

  .o-col-start-sm-1 {
    --column-start: 1;
  }

  .o-col-start-sm-2 {
    --column-start: 2;
  }

  .o-col-start-sm-3 {
    --column-start: 3;
  }

  .o-col-start-sm-4 {
    --column-start: 4;
  }

  .o-col-start-sm-5 {
    --column-start: 5;
  }

  .o-col-start-sm-6 {
    --column-start: 6;
  }

  .o-col-start-sm-7 {
    --column-start: 7;
  }

  .o-col-start-sm-8 {
    --column-start: 8;
  }

  .o-col-start-sm-9 {
    --column-start: 9;
  }

  .o-col-start-sm-10 {
    --column-start: 10;
  }

  .o-col-start-sm-11 {
    --column-start: 11;
  }
}
@media (min-width: 1024px) {
  .o-col-md-1 {
    --column-span: 1;
  }

  .o-col-md-2 {
    --column-span: 2;
  }

  .o-col-md-3 {
    --column-span: 3;
  }

  .o-col-md-4 {
    --column-span: 4;
  }

  .o-col-md-5 {
    --column-span: 5;
  }

  .o-col-md-6 {
    --column-span: 6;
  }

  .o-col-md-7 {
    --column-span: 7;
  }

  .o-col-md-8 {
    --column-span: 8;
  }

  .o-col-md-9 {
    --column-span: 9;
  }

  .o-col-md-10 {
    --column-span: 10;
  }

  .o-col-md-11 {
    --column-span: 11;
  }

  .o-col-md-12 {
    --column-span: 12;
  }

  .o-col-start-md-1 {
    --column-start: 1;
  }

  .o-col-start-md-2 {
    --column-start: 2;
  }

  .o-col-start-md-3 {
    --column-start: 3;
  }

  .o-col-start-md-4 {
    --column-start: 4;
  }

  .o-col-start-md-5 {
    --column-start: 5;
  }

  .o-col-start-md-6 {
    --column-start: 6;
  }

  .o-col-start-md-7 {
    --column-start: 7;
  }

  .o-col-start-md-8 {
    --column-start: 8;
  }

  .o-col-start-md-9 {
    --column-start: 9;
  }

  .o-col-start-md-10 {
    --column-start: 10;
  }

  .o-col-start-md-11 {
    --column-start: 11;
  }
}
@media (min-width: 1440px) {
  .o-col-lg-1 {
    --column-span: 1;
  }

  .o-col-lg-2 {
    --column-span: 2;
  }

  .o-col-lg-3 {
    --column-span: 3;
  }

  .o-col-lg-4 {
    --column-span: 4;
  }

  .o-col-lg-5 {
    --column-span: 5;
  }

  .o-col-lg-6 {
    --column-span: 6;
  }

  .o-col-lg-7 {
    --column-span: 7;
  }

  .o-col-lg-8 {
    --column-span: 8;
  }

  .o-col-lg-9 {
    --column-span: 9;
  }

  .o-col-lg-10 {
    --column-span: 10;
  }

  .o-col-lg-11 {
    --column-span: 11;
  }

  .o-col-lg-12 {
    --column-span: 12;
  }

  .o-col-start-lg-1 {
    --column-start: 1;
  }

  .o-col-start-lg-2 {
    --column-start: 2;
  }

  .o-col-start-lg-3 {
    --column-start: 3;
  }

  .o-col-start-lg-4 {
    --column-start: 4;
  }

  .o-col-start-lg-5 {
    --column-start: 5;
  }

  .o-col-start-lg-6 {
    --column-start: 6;
  }

  .o-col-start-lg-7 {
    --column-start: 7;
  }

  .o-col-start-lg-8 {
    --column-start: 8;
  }

  .o-col-start-lg-9 {
    --column-start: 9;
  }

  .o-col-start-lg-10 {
    --column-start: 10;
  }

  .o-col-start-lg-11 {
    --column-start: 11;
  }
}
@media (min-width: 1960px) {
  .o-col-xl-1 {
    --column-span: 1;
  }

  .o-col-xl-2 {
    --column-span: 2;
  }

  .o-col-xl-3 {
    --column-span: 3;
  }

  .o-col-xl-4 {
    --column-span: 4;
  }

  .o-col-xl-5 {
    --column-span: 5;
  }

  .o-col-xl-6 {
    --column-span: 6;
  }

  .o-col-xl-7 {
    --column-span: 7;
  }

  .o-col-xl-8 {
    --column-span: 8;
  }

  .o-col-xl-9 {
    --column-span: 9;
  }

  .o-col-xl-10 {
    --column-span: 10;
  }

  .o-col-xl-11 {
    --column-span: 11;
  }

  .o-col-xl-12 {
    --column-span: 12;
  }

  .o-col-start-xl-1 {
    --column-start: 1;
  }

  .o-col-start-xl-2 {
    --column-start: 2;
  }

  .o-col-start-xl-3 {
    --column-start: 3;
  }

  .o-col-start-xl-4 {
    --column-start: 4;
  }

  .o-col-start-xl-5 {
    --column-start: 5;
  }

  .o-col-start-xl-6 {
    --column-start: 6;
  }

  .o-col-start-xl-7 {
    --column-start: 7;
  }

  .o-col-start-xl-8 {
    --column-start: 8;
  }

  .o-col-start-xl-9 {
    --column-start: 9;
  }

  .o-col-start-xl-10 {
    --column-start: 10;
  }

  .o-col-start-xl-11 {
    --column-start: 11;
  }
}
@media (min-width: 2400px) {
  .o-col-xxl-1 {
    --column-span: 1;
  }

  .o-col-xxl-2 {
    --column-span: 2;
  }

  .o-col-xxl-3 {
    --column-span: 3;
  }

  .o-col-xxl-4 {
    --column-span: 4;
  }

  .o-col-xxl-5 {
    --column-span: 5;
  }

  .o-col-xxl-6 {
    --column-span: 6;
  }

  .o-col-xxl-7 {
    --column-span: 7;
  }

  .o-col-xxl-8 {
    --column-span: 8;
  }

  .o-col-xxl-9 {
    --column-span: 9;
  }

  .o-col-xxl-10 {
    --column-span: 10;
  }

  .o-col-xxl-11 {
    --column-span: 11;
  }

  .o-col-xxl-12 {
    --column-span: 12;
  }

  .o-col-start-xxl-1 {
    --column-start: 1;
  }

  .o-col-start-xxl-2 {
    --column-start: 2;
  }

  .o-col-start-xxl-3 {
    --column-start: 3;
  }

  .o-col-start-xxl-4 {
    --column-start: 4;
  }

  .o-col-start-xxl-5 {
    --column-start: 5;
  }

  .o-col-start-xxl-6 {
    --column-start: 6;
  }

  .o-col-start-xxl-7 {
    --column-start: 7;
  }

  .o-col-start-xxl-8 {
    --column-start: 8;
  }

  .o-col-start-xxl-9 {
    --column-start: 9;
  }

  .o-col-start-xxl-10 {
    --column-start: 10;
  }

  .o-col-start-xxl-11 {
    --column-start: 11;
  }
}
.o-prose ol > * + *, .o-prose ul > * + *, .o-prose > * + *, .u-flow > * + * {
  margin-top: var(--flow);
}

.u-flow {
  --flow: var(--space-s);
}

.u-flow-no-next + * {
  --flow: 0 !important;
}

html.cke_panel_container body {
  color: #000;
}
html.cke_panel_container a:hover {
  text-decoration: none;
}

body.cke_editable {
  margin: var(--step-0);
}

html.has-scroll-smooth {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
html.has-scroll-smooth [data-scroll-speed] {
  will-change: transform;
}

/* stylelint-disable-next-line selector-class-pattern */
.🎨 body {
  overscroll-behavior-y: none;
}
.🎨:not(.is-ready) body {
  opacity: 0;
}

[data-srcset],
[data-bgset] {
  opacity: 0.01;
  transition: opacity 1s;
}
[data-srcset].lazyloaded,
[data-bgset].lazyloaded {
  opacity: 1;
}

[data-bgset] {
  background: center/cover no-repeat;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --color-placeholder: rgb(0 0 0 / 5%);
  --theme-color: var(--color-gray);
  --body-font-family: TWKLausanne, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --body-font-weight: 300;
  --heading-font-family: Sohne, serif;
  --actual-vh: 1vh;
  --initial-vh: 1vh;
  --space-section: var(--space-3xl-4xl);
  --space-header: calc(var(--space-section) + var(--site-header-height));
  --logo-height: var(--space-l-xl);
  --logo-width: calc(var(--logo-height) * 164 / 40);
  --heading-line-height: 1.25;
  --site-header-padding: var(--space-l);
  --site-header-height: calc(var(--logo-height) + var(--site-header-padding) * 2);
}

p, h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: var(--measure, 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: var(--heading-line-height);
}

h1 {
  font-size: var(--step-6);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}

.o-button {
  display: inline-flex;
  padding: 0.5em 1.5em;
  color: inherit;
  font-size: var(--step--1);
  font-weight: 400;
  line-height: 1;
  text-decoration: none !important;
  text-transform: uppercase;
  background: none;
  border: 1px solid currentcolor;
  border-radius: 100px;
  appearance: none;
  transition: color, background-color, border-color;
  transition-duration: 0.15s;
}
.o-button:hover {
  color: #fff;
  background: #000;
  border: 1px solid #000;
}

.o-button--white:hover {
  color: #000;
  background: #fff;
  border: 1px solid #fff;
}

.o-caption * {
  line-height: 1.15 !important;
}

.o-caption__label {
  text-transform: uppercase;
}

.o-caption__title {
  font-size: var(--step-0);
  font-style: italic;
  font-weight: var(--body-font-weight);
}

.o-caption__description {
  opacity: 0.3;
}

.o-icon {
  display: inline-block;
  flex-shrink: 0;
  width: var(--step-0);
  height: var(--step-0);
  vertical-align: middle;
  font-size: 0;
  fill: none;
  stroke: currentColor;
  stroke-width: 1.2px;
}

.o-icon__svg {
  width: 100%;
  height: 100%;
}

.o-icon--arrow-90 polyline {
  fill: currentColor;
}
.o-icon--arrow-90 polygon {
  fill: currentColor;
}

.o-label {
  font-size: var(--step--1);
  font-weight: 650;
  text-transform: uppercase;
}

.o-logo {
  overflow: hidden;
  width: 164px;
  height: auto;
}
.o-logo g > * {
  transition: transform 0.6s;
  transition-delay: calc(var(--index, 0) * 0.02s);
  transition-timing-function: cubic-bezier(0.58, 0.01, 0.07, 0.98);
}
.o-logo g > *:nth-child(1) {
  --index: 1;
}
.o-logo g > *:nth-child(2) {
  --index: 2;
}
.o-logo g > *:nth-child(3) {
  --index: 3;
}
.o-logo g > *:nth-child(4) {
  --index: 4;
}
.o-logo g > *:nth-child(5) {
  --index: 5;
}
.o-logo g > *:nth-child(6) {
  --index: 6;
}
.o-logo g > *:nth-child(7) {
  --index: 7;
}
.o-logo g > *:nth-child(8) {
  --index: 8;
}

.o-logo__bottom > * {
  transform: translateY(calc(100% + 5px));
}
@media (hover: hover) {
  .o-logo:hover .o-logo__bottom > * {
    transform: translateY(0);
  }
}

.o-logo__top > * {
  transform: translateY(0);
}
@media (hover: hover) {
  .o-logo:hover .o-logo__top > * {
    transform: translateY(calc(-100% - 5px));
  }
}

.o-prose {
  --flow: 1em;
}
.o-prose ol, .o-prose ul {
  padding-left: 1.1em;
}
.o-prose a:not([class]) {
  color: inherit;
}
.o-prose .o-label + * {
  --flow: 0;
}

.o-reveal,
.o-reveal-childs > * {
  transform: translateY(var(--space-xl));
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.4s;
  transition-delay: calc(0.075s * var(--index, 0));
}

html.is-ready .o-reveal.is-inview:not(.prevent-reveal),
html.is-ready .is-inview .o-reveal:not(.prevent-reveal),
html.is-ready .o-reveal-childs.is-inview > *:not(.prevent-reveal),
html.is-ready .is-inview .o-reveal-childs > *:not(.prevent-reveal) {
  transform: none;
  opacity: 1;
}

.o-reveal-childs > *:nth-child(n+10) {
  transition-delay: 0.5s;
}
.o-reveal-childs > *:nth-child(2) {
  transition-delay: 0.05s;
}
.o-reveal-childs > *:nth-child(3) {
  transition-delay: 0.1s;
}
.o-reveal-childs > *:nth-child(4) {
  transition-delay: 0.15s;
}
.o-reveal-childs > *:nth-child(5) {
  transition-delay: 0.2s;
}
.o-reveal-childs > *:nth-child(6) {
  transition-delay: 0.25s;
}
.o-reveal-childs > *:nth-child(7) {
  transition-delay: 0.3s;
}
.o-reveal-childs > *:nth-child(8) {
  transition-delay: 0.35s;
}
.o-reveal-childs > *:nth-child(9) {
  transition-delay: 0.4s;
}
.o-reveal-childs > *:nth-child(10) {
  transition-delay: 0.45s;
}
.o-reveal-childs > *:nth-child(11) {
  transition-delay: 0.5s;
}

.o-section-header {
  padding-top: var(--space-l);
  padding-bottom: var(--space-2xl);
}
.o-section-header a {
  color: inherit;
  text-decoration: none;
}
.o-section-header a:hover {
  text-decoration: underline;
}

.o-section-header__title-wrapper {
  --column-span: 5;
  --column-start: 5;
}
@media (max-width: 767.98px) {
  .o-section-header__title-wrapper {
    --column-span: 10;
    --column-start: 3;
    text-align: right;
  }
}

.o-section-header__cta {
  --column-span: 3;
  text-align: right;
}
@media (max-width: 767.98px) {
  .o-section-header__cta {
    display: none;
  }
}

.o-section {
  border-top: 1px solid #000;
}

.o-section__spacer {
  padding-top: var(--space-l);
  padding-bottom: var(--space-2xl);
}

.o-small {
  font-size: var(--step--1);
  font-weight: 350;
  line-height: 1.4;
}

.o-split-text {
  overflow: hidden;
}

.o-split-text__line {
  overflow: hidden;
}

.o-split-text__char {
  transform: translateY(100%);
  transition: transform 1s;
  transition-delay: calc(var(--index) * 0.025s);
  transition-timing-function: cubic-bezier(0.58, 0.01, 0.07, 0.98);
}
html.is-ready .is-inview .o-split-text__char {
  transform: none;
}

.c-video video {
  display: block;
  width: 300px;
  height: 300px;
}
.c-video__left-div {
  width: 300px;
  height: 300px;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
}

.c-video__right-div {
  width: 300px;
  height: 300px;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
}

.u-flow-section {
  --flow: var(--space-section);
}

.u-ff-sohne {
  font-family: "Sohne", Impact, sans-serif;
  text-transform: uppercase;
  line-height: 0.82;
}

.u-fs--2 {
  font-size: var(--step--2);
}

.u-fs--1 {
  font-size: var(--step--1);
}

.u-fs-0 {
  font-size: var(--step-0);
}

.u-fs-1 {
  font-size: var(--step-1);
}

.u-fs-2 {
  font-size: var(--step-2);
}

.u-fs-3 {
  font-size: var(--step-3);
}

.u-fs-4 {
  font-size: var(--step-4);
}

.u-fs-5 {
  font-size: var(--step-5);
}

.u-fs-6 {
  font-size: var(--step-6);
}

.u-fs-7 {
  font-size: var(--step-7);
}

.u-fs-8 {
  font-size: var(--step-8);
}

.u-fs-9 {
  font-size: var(--step-9);
}

.u-fs-10 {
  font-size: var(--step-10);
}

.u-flow-3xs {
  --flow: var(--space-3xs);
}

.u-flow-2xs {
  --flow: var(--space-2xs);
}

.u-flow-xs {
  --flow: var(--space-xs);
}

.u-flow-s {
  --flow: var(--space-s);
}

.u-flow-m {
  --flow: var(--space-m);
}

.u-flow-l {
  --flow: var(--space-l);
}

.u-flow-xl {
  --flow: var(--space-xl);
}

.u-flow-2xl {
  --flow: var(--space-2xl);
}

.u-flow-3xl {
  --flow: var(--space-3xl);
}

.u-flow-4xl {
  --flow: var(--space-4xl);
}

.u-flow-3xs-2xs {
  --flow: var(--space-3xs-2xs);
}

.u-flow-2xs-xs {
  --flow: var(--space-2xs-xs);
}

.u-flow-xs-s {
  --flow: var(--space-xs-s);
}

.u-flow-s-m {
  --flow: var(--space-s-m);
}

.u-flow-m-l {
  --flow: var(--space-m-l);
}

.u-flow-l-xl {
  --flow: var(--space-l-xl);
}

.u-flow-xl-2xl {
  --flow: var(--space-xl-2xl);
}

.u-flow-2xl-3xl {
  --flow: var(--space-2xl-3xl);
}

.u-flow-3xl-4xl {
  --flow: var(--space-3xl-4xl);
}

.u-flow-s-xl {
  --flow: var(--space-s-xl);
}

.u-flow-0 {
  --flow: 0;
}

.u-d-inline {
  display: inline;
}

.u-d-inline-block {
  display: inline-block;
}

.u-d-block {
  display: block;
}

.u-d-grid {
  display: grid;
}

.u-d-flex {
  display: flex;
}

.u-d-inline-flex {
  display: inline-flex;
}

.u-d-none {
  display: none;
}

.u-m-3xs {
  margin: var(--space-3xs);
}

.u-m-2xs {
  margin: var(--space-2xs);
}

.u-m-xs {
  margin: var(--space-xs);
}

.u-m-s {
  margin: var(--space-s);
}

.u-m-m {
  margin: var(--space-m);
}

.u-m-l {
  margin: var(--space-l);
}

.u-m-xl {
  margin: var(--space-xl);
}

.u-m-2xl {
  margin: var(--space-2xl);
}

.u-m-3xl {
  margin: var(--space-3xl);
}

.u-m-4xl {
  margin: var(--space-4xl);
}

.u-m-3xs-2xs {
  margin: var(--space-3xs-2xs);
}

.u-m-2xs-xs {
  margin: var(--space-2xs-xs);
}

.u-m-xs-s {
  margin: var(--space-xs-s);
}

.u-m-s-m {
  margin: var(--space-s-m);
}

.u-m-m-l {
  margin: var(--space-m-l);
}

.u-m-l-xl {
  margin: var(--space-l-xl);
}

.u-m-xl-2xl {
  margin: var(--space-xl-2xl);
}

.u-m-2xl-3xl {
  margin: var(--space-2xl-3xl);
}

.u-m-3xl-4xl {
  margin: var(--space-3xl-4xl);
}

.u-m-s-xl {
  margin: var(--space-s-xl);
}

.u-m-auto {
  margin: auto;
}

.u-mx-3xs {
  margin-left: var(--space-3xs);
  margin-right: var(--space-3xs);
}

.u-mx-2xs {
  margin-left: var(--space-2xs);
  margin-right: var(--space-2xs);
}

.u-mx-xs {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}

.u-mx-s {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}

.u-mx-m {
  margin-left: var(--space-m);
  margin-right: var(--space-m);
}

.u-mx-l {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

.u-mx-xl {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}

.u-mx-2xl {
  margin-left: var(--space-2xl);
  margin-right: var(--space-2xl);
}

.u-mx-3xl {
  margin-left: var(--space-3xl);
  margin-right: var(--space-3xl);
}

.u-mx-4xl {
  margin-left: var(--space-4xl);
  margin-right: var(--space-4xl);
}

.u-mx-3xs-2xs {
  margin-left: var(--space-3xs-2xs);
  margin-right: var(--space-3xs-2xs);
}

.u-mx-2xs-xs {
  margin-left: var(--space-2xs-xs);
  margin-right: var(--space-2xs-xs);
}

.u-mx-xs-s {
  margin-left: var(--space-xs-s);
  margin-right: var(--space-xs-s);
}

.u-mx-s-m {
  margin-left: var(--space-s-m);
  margin-right: var(--space-s-m);
}

.u-mx-m-l {
  margin-left: var(--space-m-l);
  margin-right: var(--space-m-l);
}

.u-mx-l-xl {
  margin-left: var(--space-l-xl);
  margin-right: var(--space-l-xl);
}

.u-mx-xl-2xl {
  margin-left: var(--space-xl-2xl);
  margin-right: var(--space-xl-2xl);
}

.u-mx-2xl-3xl {
  margin-left: var(--space-2xl-3xl);
  margin-right: var(--space-2xl-3xl);
}

.u-mx-3xl-4xl {
  margin-left: var(--space-3xl-4xl);
  margin-right: var(--space-3xl-4xl);
}

.u-mx-s-xl {
  margin-left: var(--space-s-xl);
  margin-right: var(--space-s-xl);
}

.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.u-my-3xs {
  margin-top: var(--space-3xs);
  margin-bottom: var(--space-3xs);
}

.u-my-2xs {
  margin-top: var(--space-2xs);
  margin-bottom: var(--space-2xs);
}

.u-my-xs {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.u-my-s {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}

.u-my-m {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.u-my-l {
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}

.u-my-xl {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.u-my-2xl {
  margin-top: var(--space-2xl);
  margin-bottom: var(--space-2xl);
}

.u-my-3xl {
  margin-top: var(--space-3xl);
  margin-bottom: var(--space-3xl);
}

.u-my-4xl {
  margin-top: var(--space-4xl);
  margin-bottom: var(--space-4xl);
}

.u-my-3xs-2xs {
  margin-top: var(--space-3xs-2xs);
  margin-bottom: var(--space-3xs-2xs);
}

.u-my-2xs-xs {
  margin-top: var(--space-2xs-xs);
  margin-bottom: var(--space-2xs-xs);
}

.u-my-xs-s {
  margin-top: var(--space-xs-s);
  margin-bottom: var(--space-xs-s);
}

.u-my-s-m {
  margin-top: var(--space-s-m);
  margin-bottom: var(--space-s-m);
}

.u-my-m-l {
  margin-top: var(--space-m-l);
  margin-bottom: var(--space-m-l);
}

.u-my-l-xl {
  margin-top: var(--space-l-xl);
  margin-bottom: var(--space-l-xl);
}

.u-my-xl-2xl {
  margin-top: var(--space-xl-2xl);
  margin-bottom: var(--space-xl-2xl);
}

.u-my-2xl-3xl {
  margin-top: var(--space-2xl-3xl);
  margin-bottom: var(--space-2xl-3xl);
}

.u-my-3xl-4xl {
  margin-top: var(--space-3xl-4xl);
  margin-bottom: var(--space-3xl-4xl);
}

.u-my-s-xl {
  margin-top: var(--space-s-xl);
  margin-bottom: var(--space-s-xl);
}

.u-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.u-mt-3xs {
  margin-top: var(--space-3xs);
}

.u-mt-2xs {
  margin-top: var(--space-2xs);
}

.u-mt-xs {
  margin-top: var(--space-xs);
}

.u-mt-s {
  margin-top: var(--space-s);
}

.u-mt-m {
  margin-top: var(--space-m);
}

.u-mt-l {
  margin-top: var(--space-l);
}

.u-mt-xl {
  margin-top: var(--space-xl);
}

.u-mt-2xl {
  margin-top: var(--space-2xl);
}

.u-mt-3xl {
  margin-top: var(--space-3xl);
}

.u-mt-4xl {
  margin-top: var(--space-4xl);
}

.u-mt-3xs-2xs {
  margin-top: var(--space-3xs-2xs);
}

.u-mt-2xs-xs {
  margin-top: var(--space-2xs-xs);
}

.u-mt-xs-s {
  margin-top: var(--space-xs-s);
}

.u-mt-s-m {
  margin-top: var(--space-s-m);
}

.u-mt-m-l {
  margin-top: var(--space-m-l);
}

.u-mt-l-xl {
  margin-top: var(--space-l-xl);
}

.u-mt-xl-2xl {
  margin-top: var(--space-xl-2xl);
}

.u-mt-2xl-3xl {
  margin-top: var(--space-2xl-3xl);
}

.u-mt-3xl-4xl {
  margin-top: var(--space-3xl-4xl);
}

.u-mt-s-xl {
  margin-top: var(--space-s-xl);
}

.u-mt-auto {
  margin-top: auto;
}

.u-ml-3xs {
  margin-left: var(--space-3xs);
}

.u-ml-2xs {
  margin-left: var(--space-2xs);
}

.u-ml-xs {
  margin-left: var(--space-xs);
}

.u-ml-s {
  margin-left: var(--space-s);
}

.u-ml-m {
  margin-left: var(--space-m);
}

.u-ml-l {
  margin-left: var(--space-l);
}

.u-ml-xl {
  margin-left: var(--space-xl);
}

.u-ml-2xl {
  margin-left: var(--space-2xl);
}

.u-ml-3xl {
  margin-left: var(--space-3xl);
}

.u-ml-4xl {
  margin-left: var(--space-4xl);
}

.u-ml-3xs-2xs {
  margin-left: var(--space-3xs-2xs);
}

.u-ml-2xs-xs {
  margin-left: var(--space-2xs-xs);
}

.u-ml-xs-s {
  margin-left: var(--space-xs-s);
}

.u-ml-s-m {
  margin-left: var(--space-s-m);
}

.u-ml-m-l {
  margin-left: var(--space-m-l);
}

.u-ml-l-xl {
  margin-left: var(--space-l-xl);
}

.u-ml-xl-2xl {
  margin-left: var(--space-xl-2xl);
}

.u-ml-2xl-3xl {
  margin-left: var(--space-2xl-3xl);
}

.u-ml-3xl-4xl {
  margin-left: var(--space-3xl-4xl);
}

.u-ml-s-xl {
  margin-left: var(--space-s-xl);
}

.u-ml-auto {
  margin-left: auto;
}

.u-mr-3xs {
  margin-right: var(--space-3xs);
}

.u-mr-2xs {
  margin-right: var(--space-2xs);
}

.u-mr-xs {
  margin-right: var(--space-xs);
}

.u-mr-s {
  margin-right: var(--space-s);
}

.u-mr-m {
  margin-right: var(--space-m);
}

.u-mr-l {
  margin-right: var(--space-l);
}

.u-mr-xl {
  margin-right: var(--space-xl);
}

.u-mr-2xl {
  margin-right: var(--space-2xl);
}

.u-mr-3xl {
  margin-right: var(--space-3xl);
}

.u-mr-4xl {
  margin-right: var(--space-4xl);
}

.u-mr-3xs-2xs {
  margin-right: var(--space-3xs-2xs);
}

.u-mr-2xs-xs {
  margin-right: var(--space-2xs-xs);
}

.u-mr-xs-s {
  margin-right: var(--space-xs-s);
}

.u-mr-s-m {
  margin-right: var(--space-s-m);
}

.u-mr-m-l {
  margin-right: var(--space-m-l);
}

.u-mr-l-xl {
  margin-right: var(--space-l-xl);
}

.u-mr-xl-2xl {
  margin-right: var(--space-xl-2xl);
}

.u-mr-2xl-3xl {
  margin-right: var(--space-2xl-3xl);
}

.u-mr-3xl-4xl {
  margin-right: var(--space-3xl-4xl);
}

.u-mr-s-xl {
  margin-right: var(--space-s-xl);
}

.u-mr-auto {
  margin-right: auto;
}

.u-mb-3xs {
  margin-bottom: var(--space-3xs);
}

.u-mb-2xs {
  margin-bottom: var(--space-2xs);
}

.u-mb-xs {
  margin-bottom: var(--space-xs);
}

.u-mb-s {
  margin-bottom: var(--space-s);
}

.u-mb-m {
  margin-bottom: var(--space-m);
}

.u-mb-l {
  margin-bottom: var(--space-l);
}

.u-mb-xl {
  margin-bottom: var(--space-xl);
}

.u-mb-2xl {
  margin-bottom: var(--space-2xl);
}

.u-mb-3xl {
  margin-bottom: var(--space-3xl);
}

.u-mb-4xl {
  margin-bottom: var(--space-4xl);
}

.u-mb-3xs-2xs {
  margin-bottom: var(--space-3xs-2xs);
}

.u-mb-2xs-xs {
  margin-bottom: var(--space-2xs-xs);
}

.u-mb-xs-s {
  margin-bottom: var(--space-xs-s);
}

.u-mb-s-m {
  margin-bottom: var(--space-s-m);
}

.u-mb-m-l {
  margin-bottom: var(--space-m-l);
}

.u-mb-l-xl {
  margin-bottom: var(--space-l-xl);
}

.u-mb-xl-2xl {
  margin-bottom: var(--space-xl-2xl);
}

.u-mb-2xl-3xl {
  margin-bottom: var(--space-2xl-3xl);
}

.u-mb-3xl-4xl {
  margin-bottom: var(--space-3xl-4xl);
}

.u-mb-s-xl {
  margin-bottom: var(--space-s-xl);
}

.u-mb-auto {
  margin-bottom: auto;
}

.u-p-3xs {
  padding: var(--space-3xs);
}

.u-p-2xs {
  padding: var(--space-2xs);
}

.u-p-xs {
  padding: var(--space-xs);
}

.u-p-s {
  padding: var(--space-s);
}

.u-p-m {
  padding: var(--space-m);
}

.u-p-l {
  padding: var(--space-l);
}

.u-p-xl {
  padding: var(--space-xl);
}

.u-p-2xl {
  padding: var(--space-2xl);
}

.u-p-3xl {
  padding: var(--space-3xl);
}

.u-p-4xl {
  padding: var(--space-4xl);
}

.u-p-3xs-2xs {
  padding: var(--space-3xs-2xs);
}

.u-p-2xs-xs {
  padding: var(--space-2xs-xs);
}

.u-p-xs-s {
  padding: var(--space-xs-s);
}

.u-p-s-m {
  padding: var(--space-s-m);
}

.u-p-m-l {
  padding: var(--space-m-l);
}

.u-p-l-xl {
  padding: var(--space-l-xl);
}

.u-p-xl-2xl {
  padding: var(--space-xl-2xl);
}

.u-p-2xl-3xl {
  padding: var(--space-2xl-3xl);
}

.u-p-3xl-4xl {
  padding: var(--space-3xl-4xl);
}

.u-p-s-xl {
  padding: var(--space-s-xl);
}

.u-px-3xs {
  padding-left: var(--space-3xs);
  padding-right: var(--space-3xs);
}

.u-px-2xs {
  padding-left: var(--space-2xs);
  padding-right: var(--space-2xs);
}

.u-px-xs {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}

.u-px-s {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.u-px-m {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

.u-px-l {
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}

.u-px-xl {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

.u-px-2xl {
  padding-left: var(--space-2xl);
  padding-right: var(--space-2xl);
}

.u-px-3xl {
  padding-left: var(--space-3xl);
  padding-right: var(--space-3xl);
}

.u-px-4xl {
  padding-left: var(--space-4xl);
  padding-right: var(--space-4xl);
}

.u-px-3xs-2xs {
  padding-left: var(--space-3xs-2xs);
  padding-right: var(--space-3xs-2xs);
}

.u-px-2xs-xs {
  padding-left: var(--space-2xs-xs);
  padding-right: var(--space-2xs-xs);
}

.u-px-xs-s {
  padding-left: var(--space-xs-s);
  padding-right: var(--space-xs-s);
}

.u-px-s-m {
  padding-left: var(--space-s-m);
  padding-right: var(--space-s-m);
}

.u-px-m-l {
  padding-left: var(--space-m-l);
  padding-right: var(--space-m-l);
}

.u-px-l-xl {
  padding-left: var(--space-l-xl);
  padding-right: var(--space-l-xl);
}

.u-px-xl-2xl {
  padding-left: var(--space-xl-2xl);
  padding-right: var(--space-xl-2xl);
}

.u-px-2xl-3xl {
  padding-left: var(--space-2xl-3xl);
  padding-right: var(--space-2xl-3xl);
}

.u-px-3xl-4xl {
  padding-left: var(--space-3xl-4xl);
  padding-right: var(--space-3xl-4xl);
}

.u-px-s-xl {
  padding-left: var(--space-s-xl);
  padding-right: var(--space-s-xl);
}

.u-py-3xs {
  padding-top: var(--space-3xs);
  padding-bottom: var(--space-3xs);
}

.u-py-2xs {
  padding-top: var(--space-2xs);
  padding-bottom: var(--space-2xs);
}

.u-py-xs {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}

.u-py-s {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

.u-py-m {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

.u-py-l {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.u-py-xl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.u-py-2xl {
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-2xl);
}

.u-py-3xl {
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
}

.u-py-4xl {
  padding-top: var(--space-4xl);
  padding-bottom: var(--space-4xl);
}

.u-py-3xs-2xs {
  padding-top: var(--space-3xs-2xs);
  padding-bottom: var(--space-3xs-2xs);
}

.u-py-2xs-xs {
  padding-top: var(--space-2xs-xs);
  padding-bottom: var(--space-2xs-xs);
}

.u-py-xs-s {
  padding-top: var(--space-xs-s);
  padding-bottom: var(--space-xs-s);
}

.u-py-s-m {
  padding-top: var(--space-s-m);
  padding-bottom: var(--space-s-m);
}

.u-py-m-l {
  padding-top: var(--space-m-l);
  padding-bottom: var(--space-m-l);
}

.u-py-l-xl {
  padding-top: var(--space-l-xl);
  padding-bottom: var(--space-l-xl);
}

.u-py-xl-2xl {
  padding-top: var(--space-xl-2xl);
  padding-bottom: var(--space-xl-2xl);
}

.u-py-2xl-3xl {
  padding-top: var(--space-2xl-3xl);
  padding-bottom: var(--space-2xl-3xl);
}

.u-py-3xl-4xl {
  padding-top: var(--space-3xl-4xl);
  padding-bottom: var(--space-3xl-4xl);
}

.u-py-s-xl {
  padding-top: var(--space-s-xl);
  padding-bottom: var(--space-s-xl);
}

.u-pt-3xs {
  padding-top: var(--space-3xs);
}

.u-pt-2xs {
  padding-top: var(--space-2xs);
}

.u-pt-xs {
  padding-top: var(--space-xs);
}

.u-pt-s {
  padding-top: var(--space-s);
}

.u-pt-m {
  padding-top: var(--space-m);
}

.u-pt-l {
  padding-top: var(--space-l);
}

.u-pt-xl {
  padding-top: var(--space-xl);
}

.u-pt-2xl {
  padding-top: var(--space-2xl);
}

.u-pt-3xl {
  padding-top: var(--space-3xl);
}

.u-pt-4xl {
  padding-top: var(--space-4xl);
}

.u-pt-3xs-2xs {
  padding-top: var(--space-3xs-2xs);
}

.u-pt-2xs-xs {
  padding-top: var(--space-2xs-xs);
}

.u-pt-xs-s {
  padding-top: var(--space-xs-s);
}

.u-pt-s-m {
  padding-top: var(--space-s-m);
}

.u-pt-m-l {
  padding-top: var(--space-m-l);
}

.u-pt-l-xl {
  padding-top: var(--space-l-xl);
}

.u-pt-xl-2xl {
  padding-top: var(--space-xl-2xl);
}

.u-pt-2xl-3xl {
  padding-top: var(--space-2xl-3xl);
}

.u-pt-3xl-4xl {
  padding-top: var(--space-3xl-4xl);
}

.u-pt-s-xl {
  padding-top: var(--space-s-xl);
}

.u-pl-3xs {
  padding-left: var(--space-3xs);
}

.u-pl-2xs {
  padding-left: var(--space-2xs);
}

.u-pl-xs {
  padding-left: var(--space-xs);
}

.u-pl-s {
  padding-left: var(--space-s);
}

.u-pl-m {
  padding-left: var(--space-m);
}

.u-pl-l {
  padding-left: var(--space-l);
}

.u-pl-xl {
  padding-left: var(--space-xl);
}

.u-pl-2xl {
  padding-left: var(--space-2xl);
}

.u-pl-3xl {
  padding-left: var(--space-3xl);
}

.u-pl-4xl {
  padding-left: var(--space-4xl);
}

.u-pl-3xs-2xs {
  padding-left: var(--space-3xs-2xs);
}

.u-pl-2xs-xs {
  padding-left: var(--space-2xs-xs);
}

.u-pl-xs-s {
  padding-left: var(--space-xs-s);
}

.u-pl-s-m {
  padding-left: var(--space-s-m);
}

.u-pl-m-l {
  padding-left: var(--space-m-l);
}

.u-pl-l-xl {
  padding-left: var(--space-l-xl);
}

.u-pl-xl-2xl {
  padding-left: var(--space-xl-2xl);
}

.u-pl-2xl-3xl {
  padding-left: var(--space-2xl-3xl);
}

.u-pl-3xl-4xl {
  padding-left: var(--space-3xl-4xl);
}

.u-pl-s-xl {
  padding-left: var(--space-s-xl);
}

.u-pr-3xs {
  padding-right: var(--space-3xs);
}

.u-pr-2xs {
  padding-right: var(--space-2xs);
}

.u-pr-xs {
  padding-right: var(--space-xs);
}

.u-pr-s {
  padding-right: var(--space-s);
}

.u-pr-m {
  padding-right: var(--space-m);
}

.u-pr-l {
  padding-right: var(--space-l);
}

.u-pr-xl {
  padding-right: var(--space-xl);
}

.u-pr-2xl {
  padding-right: var(--space-2xl);
}

.u-pr-3xl {
  padding-right: var(--space-3xl);
}

.u-pr-4xl {
  padding-right: var(--space-4xl);
}

.u-pr-3xs-2xs {
  padding-right: var(--space-3xs-2xs);
}

.u-pr-2xs-xs {
  padding-right: var(--space-2xs-xs);
}

.u-pr-xs-s {
  padding-right: var(--space-xs-s);
}

.u-pr-s-m {
  padding-right: var(--space-s-m);
}

.u-pr-m-l {
  padding-right: var(--space-m-l);
}

.u-pr-l-xl {
  padding-right: var(--space-l-xl);
}

.u-pr-xl-2xl {
  padding-right: var(--space-xl-2xl);
}

.u-pr-2xl-3xl {
  padding-right: var(--space-2xl-3xl);
}

.u-pr-3xl-4xl {
  padding-right: var(--space-3xl-4xl);
}

.u-pr-s-xl {
  padding-right: var(--space-s-xl);
}

.u-pb-3xs {
  padding-bottom: var(--space-3xs);
}

.u-pb-2xs {
  padding-bottom: var(--space-2xs);
}

.u-pb-xs {
  padding-bottom: var(--space-xs);
}

.u-pb-s {
  padding-bottom: var(--space-s);
}

.u-pb-m {
  padding-bottom: var(--space-m);
}

.u-pb-l {
  padding-bottom: var(--space-l);
}

.u-pb-xl {
  padding-bottom: var(--space-xl);
}

.u-pb-2xl {
  padding-bottom: var(--space-2xl);
}

.u-pb-3xl {
  padding-bottom: var(--space-3xl);
}

.u-pb-4xl {
  padding-bottom: var(--space-4xl);
}

.u-pb-3xs-2xs {
  padding-bottom: var(--space-3xs-2xs);
}

.u-pb-2xs-xs {
  padding-bottom: var(--space-2xs-xs);
}

.u-pb-xs-s {
  padding-bottom: var(--space-xs-s);
}

.u-pb-s-m {
  padding-bottom: var(--space-s-m);
}

.u-pb-m-l {
  padding-bottom: var(--space-m-l);
}

.u-pb-l-xl {
  padding-bottom: var(--space-l-xl);
}

.u-pb-xl-2xl {
  padding-bottom: var(--space-xl-2xl);
}

.u-pb-2xl-3xl {
  padding-bottom: var(--space-2xl-3xl);
}

.u-pb-3xl-4xl {
  padding-bottom: var(--space-3xl-4xl);
}

.u-pb-s-xl {
  padding-bottom: var(--space-s-xl);
}

@media (min-width: 768px) {
  .u-d-sm-inline {
    display: inline;
  }

  .u-d-sm-inline-block {
    display: inline-block;
  }

  .u-d-sm-block {
    display: block;
  }

  .u-d-sm-grid {
    display: grid;
  }

  .u-d-sm-flex {
    display: flex;
  }

  .u-d-sm-inline-flex {
    display: inline-flex;
  }

  .u-d-sm-none {
    display: none;
  }
}
@media (min-width: 1024px) {
  .u-d-md-inline {
    display: inline;
  }

  .u-d-md-inline-block {
    display: inline-block;
  }

  .u-d-md-block {
    display: block;
  }

  .u-d-md-grid {
    display: grid;
  }

  .u-d-md-flex {
    display: flex;
  }

  .u-d-md-inline-flex {
    display: inline-flex;
  }

  .u-d-md-none {
    display: none;
  }
}
@media (min-width: 1440px) {
  .u-d-lg-inline {
    display: inline;
  }

  .u-d-lg-inline-block {
    display: inline-block;
  }

  .u-d-lg-block {
    display: block;
  }

  .u-d-lg-grid {
    display: grid;
  }

  .u-d-lg-flex {
    display: flex;
  }

  .u-d-lg-inline-flex {
    display: inline-flex;
  }

  .u-d-lg-none {
    display: none;
  }
}
@media (min-width: 1960px) {
  .u-d-xl-inline {
    display: inline;
  }

  .u-d-xl-inline-block {
    display: inline-block;
  }

  .u-d-xl-block {
    display: block;
  }

  .u-d-xl-grid {
    display: grid;
  }

  .u-d-xl-flex {
    display: flex;
  }

  .u-d-xl-inline-flex {
    display: inline-flex;
  }

  .u-d-xl-none {
    display: none;
  }
}
@media (min-width: 2400px) {
  .u-d-xxl-inline {
    display: inline;
  }

  .u-d-xxl-inline-block {
    display: inline-block;
  }

  .u-d-xxl-block {
    display: block;
  }

  .u-d-xxl-grid {
    display: grid;
  }

  .u-d-xxl-flex {
    display: flex;
  }

  .u-d-xxl-inline-flex {
    display: inline-flex;
  }

  .u-d-xxl-none {
    display: none;
  }
}
@media print {
  .u-d-print-inline {
    display: inline;
  }

  .u-d-print-inline-block {
    display: inline-block;
  }

  .u-d-print-block {
    display: block;
  }

  .u-d-print-grid {
    display: grid;
  }

  .u-d-print-flex {
    display: flex;
  }

  .u-d-print-inline-flex {
    display: inline-flex;
  }

  .u-d-print-none {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map*/